
body {
  font-family: helvetica;

  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  background-color: black;
  text-align: center;

}
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
    z-index: 9999;
  width: 100%;
  background-color: black;
  align-items:center;
  border-bottom: 1px solid seashell;
  padding: 9.5px 10px;

  top: -2px;
  height: 69px;
}

.links{
 width: 400px;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}
/* I'm having trouble with displaying
all of the navigation links on the top left corner of the page..
I am not sure what am I missing?*/

.content{
 position: relative;
 top: 69px;

 justify-content: center;
margin:0 auto;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../resources/images/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  margin:0px auto;
}
#mission{

  background-color: black;
  width: 100%;
}
.heart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0px auto;
  width: 1000px;
}
.option {
  display: flex;
  flex-direction: column;
}
.option img{
  height: 200px;
  width: 300px;

}
.option h4{
padding-top; 10px;
}
.row1{
  display: flex;
  justify-content: space-between;
}
.row2{
  display: flex;
  justify-content: space-around;
}
.locations {
  display: flex;
  background-image: url("../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  margin:0px auto;
}
.addresses {
display: flex;

justify-content: space-around;


}
.blkcontainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 15px 20px 15px 20px;
  opacity: 1; !important
}
.blkcontainer span{

}
.bottom{
  position: relative;
  top: 69px;
  height: 200px;
}

footer{
  text-align: left;
  position: relative;
  top: 200px;
  left: 20px;
}
